@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

* { font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; }

body { background:#ecf0f1;  }

input {
  display:block;
  width:26rem;
  margin:4.5rem 1rem 2rem;
  border:0;
  font-size:1.2rem;
  padding:.75rem 1rem;
  border-radius:3px;
  box-shadow:0 1px 2px #aaa;
  transition:.5s, margin-bottom .15s;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

input:focus {
  margin:0 1rem 1rem;
  outline:0;
}

input:focus + header {
  transform:translate3d(0,-10rem,0);
  opacity:0;
}

h2 {
	font-size:.9rem;
	line-height:2.5;
	color:gray;
	font-weight:400;
	padding:.5rem 1.0rem .5rem 4.2rem;
	background-color: #FFF;
	margin: .5rem;
	border: 1px solid #eee;
	position: relative;


	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
}
h2:hover {
	top: -3px;
	border: 1px solid #ccc;

}

h2:before {
	color: #FFF;
	font-weight: bold;
	padding: 0rem 1rem;
	line-height: 3.2rem;
	display: block;
	height: 100%;
	width: 1.2rem;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
	font-size: 0.8rem;
	word-wrap: break-word;
	text-align: center;
}

a:visited h2 {
	background-color:#ececec;
	color: #cfcfcf;
}

#hackernews h2:before {
	content: "HN";
	background-color: #f39c12;
}

#hackernews a:visited h2:before {
	background-color: #ffc76d;
}

#designernews h2:before {
	content: "DN";
	background-color: #3498db;
}

#designernews a:visited h2:before {
	background-color: #7cc3f2;
}

#reddit h2:before {
	content: "RD";
	background-color: #95a5a6;
}

#reddit a:visited h2:before {
	background-color: #c4cccc;
}

.btn-group a {
	padding: 0.5rem;
	border-radius: 3px;
	display: inline-block;
}

#hackernews .btn-group a {
	background-color: #e67e22;
	color: #fff;
	float: left;
	margin: .5rem 0 .5rem .5rem;
}

#reddit .btn-group a {
	background-color: #8c9899;
	color: #fff;
	float: right;
	margin: .5rem .5rem .5rem 0;
}

.main  {
	height: 51px;
	display: block;

	color: #FFF;
	line-height: 3rem;
	background-color: #bdc3c7;
	margin: 0 .5rem;
	border-radius: 0 0 3px 3px;
	
}

h1 {
	font-size: 1.4rem;
	margin: 0 1rem;
	line-height: 3rem;	
	font-weight: normal;
	display: inline-block;
}

#time {
	float: right;
	margin: 1rem;
}

a {
	color: #000;
	text-decoration: none;
	position: relative;
}

/*Animations*/
body {
    -webkit-animation: fadein 3s; /* Safari and Chrome */
       -moz-animation: fadein 3s; /* Firefox */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera */
            animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​


@keyframes riseup {

}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}