<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>WebDevDash v1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/puregrid.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="feedApp">


   <div class="pure-g">
        <div class="pure-u-1-3" data-ng-controller="HNControl" ng-init="init()"  id="hackernews">
            <div class="btn-group cf">
                <a href="#" class="btn btn-default" ng-click="feedSrc='https://news.ycombinator.com/rss';loadFeed($event)">Default</a>
                <a href="#" class="btn btn-default"  ng-click="feedSrc='http://feeds.feedburner.com/hacker-news-feed-50?format=xml';loadFeed($event)">50+ Points</a>
                <a href="#" class="btn btn-default" ng-click="feedSrc='http://feeds.feedburner.com/hacker-news-feed-100?format=xml';loadFeed($event)">100+ Points</a>
                <a href="#" class="btn btn-default"  ng-click="feedSrc='http://feeds.feedburner.com/hacker-news-feed-200?format=xml';loadFeed($event)">200+ Points</a>
            </div>
            <ul ng-repeat="feed in feeds | filter:filterText">
            <li class="card">
                <a href="{{feed.link}}" target="_blank"><h2>{{feed.title}}</h2></a>
            </li>
        </div>

        <div id="designernews" class="pure-u-1-3" data-ng-controller="DNControl" ng-init="init()">
            <div class="main"><h1>WebDevDash v1</h1><span id="time"></span></div>
            <ul ng-repeat="feed in feeds | filter:filterText">
            <li class="card">
                <a href="{{feed.link}}" target="_blank"><h2>{{feed.title}}</h2></a>
            </li>
        </div>

        <div id="reddit" class="pure-u-1-3" data-ng-controller="RedditControl" ng-init="init()">
            <div class="btn-group cf">
                <a href="#" class="btn btn-default" ng-click="feedSrc='http://www.reddit.com/r/web_design/.rss';loadFeed($event)">web_design</a>
                <a href="#" class="btn btn-default"  ng-click="feedSrc='http://www.reddit.com/r/webdev/.rss';loadFeed($event)">webdev</a>
                <a href="#" class="btn btn-default" ng-click="feedSrc='http://www.reddit.com/r/design/.rss';loadFeed($event)">design</a>
                <a href="#" class="btn btn-default"  ng-click="feedSrc='http://www.reddit.com/r/userexperience/.rss';loadFeed($event)">userexperience</a>
            </div>
            <ul ng-repeat="feed in feeds | filter:filterText">
            <li class="card">
                <a href="{{feed.link}}" target="_blank"><h2>{{feed.title}}</h2></a>
            </li>
        </div>

    </div>


<script src="js/jquery/jquery.min.js"></script>
<script src="js/angular/angular.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
